$dark-red: rgb(216,51,29);
@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/HelveticaNeue-MediumCond.otf);
  font-weight: 400;
}


html {
  background-color: rgb(248,248,248);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1500px;
  background-color: white;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
div {
  box-sizing: border-box;
}
div[class^="pure-u-"], div[class*=" pure-u-"] {
  padding: 0 10px;
  margin-right: -4px;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
  color: $dark-red;
  margin-bottom: 0.5em;
}

// 

.header {
  background-color: rgba(220,220,220,0.5);

  .header__title {
    display: inline-block;
  }
  .header__nav {
    float: right;
    ul {
      li {
        display: inline-block;
        margin-left: 10px;
      }      
    }
  }
}
.content {
  section {
    padding: 20px 0;

    &._top {
      height: 500px;
      background-color: rgba(220,220,220,0.2);
    }
  }
}
.footer {
  background-color: rgba(220,220,220,0.5);
}