$dark-red: rgb(216,56,43);
$gray: rgb(77,77,77);

$border: 1px solid rgba(77,77,77,.2);

@font-face {
  font-family: "Helvetica Neue";
  src: url(fonts/HelveticaNeue-MediumCond.otf);
  font-weight: 400;
}
@font-face {
font-family: "Bebas Neue";
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('fonts/BebasNeue.woff') format('woff');
}


html {
  background-color: rgb(248,248,248);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1500px;
  background-color: white;
  color: $gray;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 0;
}
div {
  box-sizing: border-box;
}
div[class^="pure-u-"], div[class*=" pure-u-"] {
  padding: 0 10px;
  margin-right: -4px;
}
h1, h2, h3, button, input[type="submit"] {
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
p {
  font-size: 20px;
  margin: 1em 0;
}
button, input[type="submit"] {
  background-color: $dark-red;
  color: white;
  border: none;
  box-shadow: none;
}

.header {

  .container {
    border-bottom: $border;    
    padding: 50px 0 30px 0;
  }
  .header__button {
    padding: 10px 50px 5px 50px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 48px;
  }
}
.content {
  .container:first-child {
    border-bottom: $border;
  }
}
.footer {
  .container:first-child {
    border-top: $border;
  }
  .footer__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 7px;

    &._facebook {
      background-color: rgb(60,90,154);
    }
    &._twitter {
      background-color: rgb(45,170,225);
    }
    &._mail {
      background-color: rgb(102,156,65);
    }
    i {
      line-height: 60px;
      font-size: 36px;
      color: white;
    }
  }
}
.logo-cfu {
  width: 200px;
  margin-bottom: 20px;
}
.signup-form {
  input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: text-top;
    font-size: 20px;
    border-radius: 4px;
    padding: 5px 10px;
  }
  input[type="text"] {
    box-shadow: none;
    border: 1px solid rgba(77,77,77,.4);
  }
}
